# EditorConfig for Kotlin
root = true

[*.{kt,kts}]
indent_size = 4
max_line_length = 120
ktlint_code_style = intellij_idea
ktlint_disabled_rules = no-wildcard-imports,filename

[*.java]
indent_size = 4
max_line_length = 120

[*.groovy]
indent_size = 4
